<?xml version="1.0"?>
<robot name="mobile_manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include TB3 + DOFBOT -->
  <xacro:include filename="$(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf."/>
  <xacro:include filename="$(find mobile_manipulator_description)/urdf/dofbot.urdf.xacro"/>

  <!-- ros2_control 설정 매크로 호출 -->
  <xacro:mobile_manipulator_ros2_control name="MobileManipulator"/>

  <!-- Gazebo ros2_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so"/>
  </gazebo>

</robot>
